body{
	background-color: #D5EFFD;
}

.cabecalho {
  background-color: red;
  width: 950px;
  margin-left: 230px;
  height: 240px;
  position:absolute;
}

.logo-pesquisa {
  margin-top: 20px;
  margin-left: 10px;
  width: 900px;
  height: 155px;
  background-color: blue;
}

.logo {
  margin-top: -5px;
  width: 160px;
}

.pesquisa {
  width: 220px;
  left: 705px;
  top: 135px;
  position: absolute;
}

.redes.sociais {
  width: 230px;
  height: 60px;
  position: absolute;
  top: 85px;
  left: 705px;
}

p.sub-redes-sociais {
  position: absolute;
  top: 64px;
  left: 706px;
  font-size: 12px;
  color: #89a3bb;
}

.navegacao {
  margin-left: 10px;
  position: absolute;
  width: 900px;
  margin-top: 7px;
}
/* -- CONTEUDO --*/
.conteudo {
  background-color: rebeccapurple;
  margin-left: -15px;
  margin-top: 80px;
  height: auto;
  width: 950px;
  border-top: 2px solid gray;
}

div#myCarousel {
  width: 620px;
  height: 300px;
}

p.destaques {
  font-size: 12px;
  color: #89a3bb;
  margin-top: 2px;
  margin-bottom: 4px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 300px !important;
}

.publicidade {
  width: 200px;
  height: 200px;
  float: right;
  margin-top: -300px;
  margin-right: 100px;
}

p.p-publicidade {
  float: right;
  margin-top: -321px;
  font-size: 12px;
  margin-right: 235px;
  color: #89a3bb;
}

