
.cabecalho {
  width: 950px;
  margin-left: 230px;
  height: 240px;
  position:absolute;
}

.logo-pesquisa {
  margin-top: 20px;
  margin-left: -15px;
  width: 950px;
  height: 155px;
}

.logo {
  margin-top: -5px;
  width: 160px;
}

.pesquisa {
  width: 220px;
  left: 730px;
  top: 135px;
  position: absolute;
}

.redes.sociais {
  width: 230px;
  height: 60px;
  position: absolute;
  top: 85px;
  left: 731px;
}

p.sub-redes-sociais {
  position: absolute;
  top: 64px;
  left: 735px;
  font-size: 12px;
  color: #003755;
  font-weight: bold;
}

img.destaque{
  margin-left: 344px;
  position: absolute;
  z-index: -22222;
}

/**/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
  background-color: #003555;
}

.navbar-default {
  border-color: #005181;
  background: linear-gradient(#86D2FF, #005181);
}

.navbar-default .navbar-brand {
  color: #003555;
}

.navbar-default .navbar-nav>li>a {
  color: #003555;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #003555;
}
/**/
.linha {
  position: absolute;
  width: 149%;
  height: 0px;
  left: -230px;
  top: 229px;
  border-bottom: 1px solid #003555;
  box-shadow: 0px 3px 8px 1px #003555;
}

.navegacao {
  margin-left: -15px;
  position: absolute;
  width: 950px;
  margin-top: 7px;
}
/* -- CONTEUDO --*/
.conteudo {
  margin-left: -15px;
  margin-top: 80px;
  height: auto;
  width: 950px;
  border-top: 2px solid #005481;
}

div#myCarousel {
  width: 620px;
  height: 300px;
}

p.destaques {
  font-size: 12px;
  color: #003755;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 4px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: 300px !important;
}

.publicidade {
  width: 200px;
  height: 200px;
  float: right;
  margin-top: -300px;
  margin-right: 100px;
}

p.p-publicidade {
  float: right;
  margin-top: -321px;
  font-size: 12px;
  margin-right: 235px;
  color: #003755;
  font-weight: bold;
}

/*-- Universidade --*/
.universidade {
  width: 950px;
  height: auto;
  margin-top: 35px;
}

.noticia1 {
  width: 250px;
  height: 355px;
  background: linear-gradient(white, #FFFFFF);
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 18px -10px;
}

.noticia2 {
  width: 250px;
  height: 355px;
  background: linear-gradient(white, #FFFFFF);
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 1px 3px 18px -10px;
  position: absolute;
  top: 641px;
  left: 260px;
}

.noticia3 {
  width: 250px;
  height: 355px;
  background: linear-gradient(white, #FFFFFF);
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 3px 7px 17px -9px;
  position: absolute;
  top: 641px;
  left: 520px;
}

.conteudo-noticia {
  padding: 5px;
}

.propaganda2 {
  position: absolute;
  top: 642px;
  left: 774px;
}

.ler-noticia {
  background-color: #003555;
  border-color: #2e6da4;
}

.zebrado{
background-image: url(../img/zebrado.png);
}

.tit-canais {
  font-weight: 700;
  font-size: 110%;
  text-transform: uppercase;
  background-color: #FFF;
  border: solid #FFF 2px;
  border-right: solid #fff 13px;
  color:#003755;
}

.ensino{
color:orange !important;
}

.noticia1-ensino {
  margin-top: 10px;
}

p.conteudo-noticia1-ensino {
  font-weight: bold;
  width: 500px;
  font-size: 14px;
  line-height: 1.428571429;
}

p.noticia1-ensino {
  width: 517px;
  font-size: 90%;
  line-height: 1.428571429;
  color: #373737;
}

.noticia2-ensino {
  width: 28%;
  float: left;
  margin-left: 513px;
  margin-top: -432px;
  max-width: 275px;
}

.noticia3-ensino {
  width: 267px;
  float: left;
  margin-top: -214px;
  margin-left: 512px;
}

.pesquisa-ensino {
  width: 163px;
  height: 200px;
  background-color: #ccc;;
  float: left;
  margin-left: 787px;
  margin-top: -438px;
  padding: 10px;
}

.pes{
  font-weight: bold;
}

.qui{
  width: 122px !important;
  margin-left: -33px;
  font-size: 18px;
}

.sub{
  width: 100% !important;
  max-height: 85px;
}

/*fotter*/
@font-face {
	font-family: 'logo';
	src: url('../fonts/BuxtonSketch.eot');
	src: local('BuxtonSketch'), url('../fonts/BuxtonSketch.woff') format('woff'), url('../fonts/BuxtonSketch.ttf') format('truetype');
}

footer {
  background-color: #003555;
  width: 151%;
  height: 235px;
  bottom: -8px;
  right: 0px;
  position: relative;
  margin-top: 30px;
  margin-left: -245px;
}

.conteudo-fotter {
  width: 950px;
  height: 150px;
  position: absolute;
  right: 255px;
}

.educa-natal-white {
  position: absolute;
  width: 200px;
  top: 10px;
}

.desenvolvedor {
  position: absolute;
  width: 300px;
  margin-top: 200px;
}

p.copy {
  font-size: 15px;
  color: white;
  font-family: 'logo' !important;
}

.contatos {
  width: 150px;
  position: absolute;
  left: 270px;
  text-align: center;
  height: 150px;
  top: 45px;
  border-left: 1px solid white;
}

h4.fotter {
  font-weight: bold;
  color: white;
  font-family: 'logo' !important;
  font-size: 29px;
}

p.fotter {
  color: white;
  font-size: 12px;
}

.patrocinio {
  width: 130px;
  position: absolute;
  height: 150px;
  text-align: center;
  left: 430px;
  top: 45px;
  border-left: 1px solid white;
}

p.frase-motivadora {
  color: white;
  margin-top: 10px;
  font-family: cursive;
}

.apoio {
  width: 130px;
  position: absolute;
  height: 150px;
  text-align: center;
  left: 580px;
  top: 45px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.logo-patrocinio-apoio {
  position: absolute;
  left: 745px;
  top: 50px;
}

img.logo-patrocinio {
  margin-right: 15px;
  margin-bottom: 35px;
}